.odd {
	background-color: rgba(60,125,21, 0.25);
}

#team-roster {
	border-collapse:collapse;
}

td, th {
	padding: 1em;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.fill-page {
	height: 100%;
}