/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

#about a {
  color: rgba(52, 52, 52, 0.7);
  &:hover, &:focus {
    color: rgb(52, 52, 52);
  }
}

#uvu {

.navbar-default {
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;
    &:hover, &:focus {
      color: #eb3812;
    }
  }
  .nav > li {
    > a {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      color: #222;
      &:focus {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        color: #222;
      }
      &:hover, &:focus:hover {
        color: #f05f40;
      }
    }
    &.active > a {
      color: #f05f40 !important;
      background-color: transparent;
      &:focus {
        color: #f05f40 !important;
        background-color: transparent;
      }
      &:hover, &:focus:hover {
        background-color: transparent;
      }
    }
  }
}

hr {
  max-width: 50px;
  border-color: #000000;
  border-width: 3px;
  &.light {
    border-color: #fff;
  }
}

a {
  color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  &:hover, &:focus {
    color: #000000;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  color: #ffffff;
  &.dark {
    color: #000000;
  }
}
  
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.uvu-bg-primary {
  height: 100%;
  background-color: #245e39;
}

.uvu-bg-dark {
  color: #fff;
  background-color: #222;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.top-row-padding {
  margin-top: 25px;
}


@media (min-width: 768px) {
  .navbar-default {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
    .navbar-header .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
      &:hover, &:focus {
        color: #fff;
      }
    }
    .nav > li > a {
      color: rgba(255, 255, 255, 0.7);
      &:focus {
        color: rgba(255, 255, 255, 0.7);
      }
      &:hover, &:focus:hover {
        color: #fff;
      }
    }
    &.affix {
      border-color: rgba(34, 34, 34, 0.05);
      background-color: #fff;
      .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
        &:hover, &:focus {
          color: #eb3812;
        }
      }
      .nav > li > a {
        color: #222;
        &:focus {
          color: #222;
        }
        &:hover, &:focus:hover {
          color: #f05f40;
        }
      }
    }
  }
}

header {
  position: relative;
  min-height: auto;
  height: 100%;
  background-size: 100% auto;
  text-align: center;
  color: #fff;
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    .header-content-inner {
      h1 {
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 700;
      }
      hr {
        margin: 30px auto;
      }
      p {
        margin-bottom: 50px;
        font-size: 16px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
    .header-content {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
        p {
          margin-right: auto;
          margin-left: auto;
          max-width: 80%;
          font-size: 18px;
        }
      }
    }
  }
}

.section-heading {
  margin-top: 0;
}

.service-box {
  margin: 50px auto 0;
  max-width: 400px;
  p {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}

.portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240, 95, 64, 0.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
      .project-category, .project-name {
        padding: 0 15px;
        font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
      }
      .project-category {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
      .project-name {
        font-size: 18px;
      }
    }
  }
  &:hover .portfolio-box-caption {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    .project-category {
      font-size: 16px;
    }
    .project-name {
      font-size: 22px;
    }
  }
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: #f05f40;
}

.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  &:hover, &:focus, &.focus, &:active, &.active {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
  }
}

.open > .dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #222;
  background-color: #f2f2f2;
}

.btn-default {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default {
  &.disabled, &[disabled] {
    border-color: #fff;
    background-color: #fff;
  }
}

fieldset[disabled] .btn-default {
  border-color: #fff;
  background-color: #fff;
}

.btn-default {
  &.disabled:hover, &[disabled]:hover {
    border-color: #fff;
    background-color: #fff;
  }
}

fieldset[disabled] .btn-default:hover {
  border-color: #fff;
  background-color: #fff;
}

.btn-default {
  &.disabled:focus, &[disabled]:focus {
    border-color: #fff;
    background-color: #fff;
  }
}

fieldset[disabled] .btn-default:focus {
  border-color: #fff;
  background-color: #fff;
}

.btn-default {
  &.disabled.focus, &[disabled].focus {
    border-color: #fff;
    background-color: #fff;
  }
}

fieldset[disabled] .btn-default.focus {
  border-color: #fff;
  background-color: #fff;
}

.btn-default {
  &.disabled:active, &[disabled]:active {
    border-color: #fff;
    background-color: #fff;
  }
}

fieldset[disabled] .btn-default:active {
  border-color: #fff;
  background-color: #fff;
}

.btn-default {
  &.disabled.active, &[disabled].active {
    border-color: #fff;
    background-color: #fff;
  }
}

fieldset[disabled] .btn-default.active {
  border-color: #fff;
  background-color: #fff;
}

.btn-default .badge {
  color: #fff;
  background-color: #222;
}

.btn-primary {
  border-color: #f05f40;
  color: #fff;
  background-color: #245e39;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.hero-arrow {
  margin-top: 65%;
  color: #245e39;
}

.btn-primary {
  &:hover, &:focus, &.focus, &:active, &.active {
    border-color: #ed431f;
    color: #fff;
    background-color: #000000;
  }
}

.open > .dropdown-toggle.btn-primary {
  border-color: #ed431f;
  color: #fff;
  background-color: #000000;
}

.btn-primary {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary {
  &.disabled, &[disabled] {
    border-color: #f05f40;
    background-color: #f05f40;
  }
}

fieldset[disabled] .btn-primary {
  border-color: #f05f40;
  background-color: #f05f40;
}

.btn-primary {
  &.disabled:hover, &[disabled]:hover {
    border-color: #f05f40;
    background-color: #f05f40;
  }
}

fieldset[disabled] .btn-primary:hover {
  border-color: #f05f40;
  background-color: #f05f40;
}

.btn-primary {
  &.disabled:focus, &[disabled]:focus {
    border-color: #f05f40;
    background-color: #f05f40;
  }
}

fieldset[disabled] .btn-primary:focus {
  border-color: #f05f40;
  background-color: #f05f40;
}

.btn-primary {
  &.disabled.focus, &[disabled].focus {
    border-color: #f05f40;
    background-color: #f05f40;
  }
}

fieldset[disabled] .btn-primary.focus {
  border-color: #f05f40;
  background-color: #f05f40;
}

.btn-primary {
  &.disabled:active, &[disabled]:active {
    border-color: #f05f40;
    background-color: #f05f40;
  }
}

fieldset[disabled] .btn-primary:active {
  border-color: #f05f40;
  background-color: #f05f40;
}

.btn-primary {
  &.disabled.active, &[disabled].active {
    border-color: #f05f40;
    background-color: #f05f40;
  }
}

fieldset[disabled] .btn-primary.active {
  border-color: #f05f40;
  background-color: #f05f40;
}

.btn-primary .badge {
  color: #f05f40;
  background-color: #fff;
}

.btn {
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection, ::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

img {
  &::selection, &::-moz-selection {
    color: #fff;
    background: 0 0;
  }
}

body {
  webkit-tap-highlight-color: #222;
}

.bottom-button {
  position: relative;
  margin-top: 50%;
}