{{ "<!-- ACHA -->" | safeHTML }}
<section id="acha" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="http://achahockey.org/view/achahockey/divisions/men-s-d2-1"><h2 class="section-heading">ACHA DII</h2></a>
            </div>
        </div>
    </div>
</section>
