{{ "<!-- CALENDAR -->" | safeHTML }}
<section id="calendar">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.aside.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p>Need Google Calendar Information</p>
            </div>
        </div>
    </div>
</section>
