{{ "<!-- CONTACT -->" | safeHTML }}
<section class="uvu-bg-primary" id="contact">
    <div id="uvu">
        <div class="container">
            <div class="row text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="light">
                <div class="col-lg-2 col-lg-offset-5 text-center top-row-padding">
                    <a href="https://www.facebook.com/uvuhockey"><i class="fa fa-facebook fa-5x wow bounceIn"></i></a>
                </div>
            </div>
            <div class="row top-row-padding">
                <div class="col-lg-2 col-lg-offset-5 text-center">
                    <a href="https://twitter.com/UVUHockeyClub"><i class="fa fa-twitter fa-5x wow bounceIn"></i></a>
                </div>
            </div>
            <div class="row top-row-padding text-center">
                <div class="col-lg-2 col-lg-offset-5 text-center">
                    <a href="mailto:{{ with .Site.Params.contact.email }}{{ . }}{{ end }}"><i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                    <!-- <p class="primary"><a href="mailto:{{ with .Site.Params.contact.email }}{{ . }}{{ end }}">{{ with .Site.Params.contact.email }}{{ . }}{{ end }}</a></p> -->
                </div>
            </div>
        </div>
    </div>
</section>
