<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}">
<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
{{ .Hugo.Generator }}
<title>{{ .Site.Title }}</title>
{{ "<!-- Favicon -->" | safeHTML }}
<link rel="shortcut icon" href="{{ .Site.BaseURL }}img/logo.png">
{{ "<!-- Bootstrap Core CSS -->" | safeHTML }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css" type="text/css">
{{ "<!-- Custom Fonts -->" | safeHTML }}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ .Site.BaseURL }}font-awesome/css/font-awesome.min.css" type="text/css">
{{ "<!-- Plugin CSS -->" | safeHTML }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/animate.min.css" type="text/css">
{{ "<!-- Custom CSS -->" | safeHTML }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/creative.css" type="text/css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/modals.css" type="text/css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/app.css" type="text/css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.6/jqc-1.12.3/dt-1.10.12/datatables.min.css"/>

{{ "<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->" | safeHTML }}
{{ "<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->" | safeHTML }}
{{ "<!--[if lt IE 9]>" | safeHTML }}
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
{{ "<![endif]-->" | safeHTML }}
