{{ "<!-- NAVIGATION -->" | safeHTML }}
<div id="uvu">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button id="navbutton" type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
	    <a class="navbar-brand page-scroll" href="#page-top"><img src="img/logo.png" class="img-responsive img-centered hidden-xs" alt="" style="max-height:200px"></a>
        <a class="navbar-brand page-scroll" href="#page-top"><img src="img/logo.png" class="img-responsive img-centered visible-xs" alt="" style="max-height:75px; padding-bottom:30px; margin:0"></a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#schedule">Schedule</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact Us</a>
                </li>
                <li>
                    <a class="page-scroll" href="#sponsors">{{ with .Site.Params.navigation.links.sponsors}}{{ . }}{{ end }}</a>
                </li>
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
</div>