{{ "<!-- NEWS -->" | safeHTML }}
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.news.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p>{{ with .Site.Params.news.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
    </div>
</section>
