{{ "<!-- ROSTER -->" | safeHTML }}
<section id="roster">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.services.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">
            <div class="table-responsive">
            <table id="team-roster" summary="Employee Pay Sheet">
                <thead>
                    <tr>
                        <th scope="col">Jersey #</th>
                        <th scope="col">Name (Position)</th>
                        <th scope="col">Shoots</th>
                        <th scope="col">Height</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Year</th>
                        <th scope="col">Major</th>
                        <th scope="col">Hometown</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd">
                        <td>1</td>
                        <td>Brandon (G)</td>
                        <td>R</td>
                        <td>6'1"</td>
                        <td>170</td>
                        <td>Sr</td>
                        <td>Business</td>
                        <td>Highland, UT</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Todd (G)</td>
                        <td>L</td>
                        <td>6'3"</td>
                        <td>190</td>
                        <td>Sr</td>
                        <td>Business</td>
                        <td>Highland, UT</td>
                    </tr>
                    <tr class="odd">
                        <td>1</td>
                        <td>Brandon (G)</td>
                        <td>R</td>
                        <td>6'1"</td>
                        <td>170</td>
                        <td>Sr</td>
                        <td>Business</td>
                        <td>Highland, UT</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Todd (G)</td>
                        <td>L</td>
                        <td>6'3"</td>
                        <td>190</td>
                        <td>Sr</td>
                        <td>Business</td>
                        <td>Highland, UT</td>
                    </tr>
                </tbody>
            </table>
            </div>
            </div>
        </div>
</section>
