{{ "<!-- SCHEDULE -->" | safeHTML }}
<section id="schedule">
    <div class="container">
        <div id="uvu">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading dark">2016 - 2017 Season</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <table id="schedule-table" summary="2016-2017 Season" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Location</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td>17-Sep-2016</td>
                            <td>@ Weber</td>
                            <td>7pm</td>
                        </tr>
                        <tr>
                            <td>22-Sep-2016</td>
                            <td>vs UNLV</td>
                            <td>7pm</td>
                        </tr>
                        <tr class="odd">
                            <td>30-Sep-2016</td>
                            <td>@ Montana Tech</td>
                            <td>4pm</td>
                        </tr>
                        <tr>
                            <td>1-Oct-2016</td>
                            <td>@ Montana Tech</td>
                            <td>4pm</td>
                        </tr>
                        <tr class="odd">
                            <td>15-Oct-2016</td>
                            <td>vs BYU</td>
                            <td>8:30pm</td>
                        </tr>
                        <tr>
                            <td>21-Oct-2016</td>
                            <td>vs Weber</td>
                            <td>7pm</td>
                        </tr>
                        <tr class="odd">
                            <td>28-Oct-2016</td>
                            <td>vs Western Colorado</td>
                            <td>7pm</td>
                        </tr>
                        <tr>
                            <td>29-Oct-2016</td>
                            <td>vs Western Colorado</td>
                            <td>2pm</td>
                        </tr>
                        <tr class="odd">
                            <td>30-Oct-2016</td>
                            <td>vs Boise State</td>
                            <td>6pm</td>
                        </tr>
                        <tr>
                            <td>4-Nov-2016</td>
                            <td>@ Montana State</td>
                            <td>7pm</td>
                        </tr>
                        <tr class="odd">
                            <td>5-Nov-2016</td>
                            <td>@ Utah State</td>
                            <td>7pm</td>
                        </tr>
                        <tr>
                            <td>11-Nov-2016</td>
                            <td>@ Northern Arizona</td>
                            <td>7pm</td>
                        </tr>
                        <tr class="odd">
                            <td>12-Nov-2016</td>
                            <td>@ Northern Arizona</td>
                            <td>7pm</td>
                        </tr>
                        <tr>
                            <td>19-Nov-2016</td>
                            <td>vs Montana State</td>
                            <td>1pm</td>
                        </tr>
                        <tr class="odd">
                            <td>2-Dec-2016</td>
                            <td>vs Colorado Mesa</td>
                            <td>7pm</td>
                        </tr>
                        <tr>
                            <td>9-Dec-2016</td>
                            <td>@ Utah State</td>
                            <td>7pm</td>
                        </tr>
                        <tr class="odd">
                            <td>6-Jan-2017</td>
                            <td>@ Boise State</td>
                            <td>7pm</td>
                        </tr>
                        <tr>
                            <td>7-Jan-2017</td>
                            <td>@ Boise State</td>
                            <td>7pm</td>
                        </tr>
                        <tr class="odd">
                            <td>13-Jan-2017</td>
                            <td>vs BYU</td>
                            <td>7pm</td>
                        </tr>
                        <tr>
                            <td>20-Jan-2017</td>
                            <td>@ Colorado Mesa</td>
                            <td>7pm</td>
                        </tr>
                        <tr class="odd">
                            <td>21-Jan-2017</td>
                            <td>@ Colorado Mesa</td>
                            <td>7pm</td>
                        </tr>
                        <tr>
                            <td>27-Jan-2017</td>
                            <td>Wasatch Cup</td>
                            <td>TBA</td>
                        </tr>
                        <tr class="odd">
                            <td>28-Jan-2017</td>
                            <td>Wasatch Cup</td>
                            <td>TBA</td>
                        </tr>
                        <tr>
                            <td>2-Feb-2017</td>
                            <td>MTN West Tournament</td>
                            <td>TBA</td>
                        </tr>
                        <tr class="odd">
                            <td>3-Feb-2017</td>
                            <td>MTN West Tournament</td>
                            <td>TBA</td>
                        </tr>
                        <tr>
                            <td>4-Feb-2017</td>
                            <td>MTN West Tournament</td>
                            <td>TBA</td>
                        </tr>
                        <tr class="odd">
                            <td>10-Feb-2017</td>
                            <td>@ Colorado Christian</td>
                            <td>9pm</td>
                        </tr>
                        <tr>
                            <td>11-Feb-2017</td>
                            <td>@ Colorado Christian</td>
                            <td>9pm</td>
                        </tr>
                        <tr class="odd">
                            <td>17-Feb-2017</td>
                            <td>@ Western Colorado</td>
                            <td>7pm</td>
                        </tr>
                        <tr>
                            <td>18-Feb-2017</td>
                            <td>@ Western Colorado</td>
                            <td>7pm</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center top-row-padding">
                <p>Game times are subject to change</p>
            </div>
        </div>
    </div>
    </div>
</section>
