{{ "<!-- SOCIAL -->" | safeHTML }}
<section class="bg-primary" id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Social Media</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <a href="https://twitter.com/UVUHockeyClub"><i class="fa fa-twitter fa-3x wow bounceIn"></i></a>
            </div>
            <div class="col-lg-4 text-center">
                <a href="https://www.facebook.com/uvuhockey"><i class="fa fa-facebook fa-3x wow bounceIn"></i></a>
            </div>
        </div>
    </div>
</section>