{{ "<!-- SPONSORS -->" | safeHTML }}
<section id="sponsors" class="fill-page">
    <div id="uvu">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading dark">Sponsors</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <a href="http://www.bambamsbbq.com/"><img src="img/bam_bams.png" class="img-responsive img-centered"></a>
                </div>
                <div class="col-lg-4">
                    <a href="http://scofieldtax.com/"><img src="img/scofield.png" style="margin-top:35%" class="img-responsive img-centered"></a>
                </div>
            </div>
        </div>
    </div>
</section>
